<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content bg-dark border-0">
      <div class="modal-body p-0">
        <video id="modalVideo" controls autoplay class="w-100"></video>
      </div>
    </div>
  </div>
</div>

<!-- Image Modal -->
<div id="imageModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg" />
  <div class="modal-caption" id="modalCaption"></div>
  <span class="nav-arrow nav-left">&#10094;</span>
  <span class="nav-arrow nav-right">&#10095;</span>
</div>
