<nav class="bottom-nav">
  <ul>
    <li>
      <a href="#hero-grid" title="Hero"><i class="fas fa-user"></i></a>
    </li>
    <li>
      <a href="#strategy" title="Social Media Strategy"
        ><i class="fas fa-lightbulb"></i
      ></a>
    </li>
    <li>
      <a href="#visual-design" title="Visual Design"
        ><i class="fas fa-lightbulb"></i
      ></a>
    </li>
    <li>
      <a href="#photography" title="Photography"
        ><i class="fas fa-camera-retro"></i
      ></a>
    </li>
    <li>
      <a href="#videoProduction" title="Video Production"
        ><i class="fas fa-video"></i
      ></a>
    </li>
  </ul>
</nav>
